---
import Layout from "../layouts/Layout.astro";
import bebida from "../assets/bebida.jpg";
import { Image } from "astro:assets";
import Item from "../components/Item.astro";
import { getFoods } from "../services/getData";
import arrowRight from "../assets/arrow.svg";
import arrowLeft from "../assets/arrow-left.svg";
const entradas = getFoods(4)
---

<Layout>
    <section class="flex w-full h-1/3" >
        <div class="w-full relative">
            <Image src={bebida} alt="Entrada" class="object-cover w-full h-full" loading="lazy"/>
            <a class={`bg-white p-2 rounded-md flex justify-center items-center absolute top-1 right-1`} href="/postres">
                <Image src={arrowRight} alt="arrow" class="w-10" loading="lazy"/> 
            </a>
            <a class={`bg-white p-2 rounded-md flex justify-center items-center absolute top-1 left-1`} href="/acompanamiento">
                <Image src={arrowLeft} alt="arrow" class="w-10" loading="lazy"/> 
            </a>
        </div>
    </section>
    <section class="bg-white w-full h-2/3 p-4 flex items-center justify-evenly flex-col gap-4">
        <p class=" text-4xl">BEBIDAS</p>
        <ul class="w-4/5 flex flex-col gap-2">
            {
                entradas.map(x=><Item name={x.name} price={x.price}/>)
            }
        </ul>

    </section>
</Layout>